/* HEADER */

/* NAVBAR */
.header-content .header-content-nav .checkbtn {
    display: none;
}

.header-content .header-content-nav-logo img {
    margin-top: 18px;
    width: 50px;
}

.header-content .header-content-nav-ul {
    background: none;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    left: 50%;
    text-align: start;
    top: 0%;
    width: auto;
}

.header-content .header-content-nav-ul li {
    display: block;
    line-height: 3em;
    margin: 10px 0;
}

.header-content .header-content-nav-ul li {
    display: inline-block;
    line-height: 68px;
    margin: 0 5px;
}

.header-content .header-content-nav-ul li a {
    margin: 10px 15px;
    padding: 15px 7px;
}

.header-content .header-content-nav-ul li a:hover {
    color: var(--color-span);
    transition: .5s;
}
/* NAVBAR:COMPLETE */

/* TITLE */
.header-content .header-content-title-h1 {
    font-size: 6.5rem;
    letter-spacing: 2px;
}
/* TITLE:COMPLETE */

/* HEADER:COMPLETE */


/* MAIN */
/* SECOND:CONTENT */
.title {
    font-size: 4.8rem;
}

.subtitle {
    font-size: 1.7rem;
    letter-spacing: 7px;
}

.main-services .main-services-content {
    max-width: 30%;
    min-width: 330px;
}

/* SECOND:CONTENT:COMPLETE */

/* FOURTH SECTION */
.container-flex-p {
    font-size: 2.8rem;
}
/* FOURTH SECTION:COMPLETE */

/* MAIN:COMPLETE */